.separator {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
}

.text {
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.btns-container {
  display: flex;
  gap: 1rem;
  align-items: center;

  button {
    width: 3rem;
    height: 3rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }

  .incBtn {
    border: 1px solid rgb(0, 181, 0);
    background: rgba(0, 181, 0, 0.2);
    color: rgb(0, 181, 0);

    &:hover {
      background: rgba(0, 181, 0, 0.5);
    }
  }

  .decBtn {
    border: 1px solid rgb(211, 15, 211);
    background: rgba(211, 15, 211, 0.2);
    color: rgb(211, 15, 211);

    &:hover {
      background: rgba(211, 15, 211, 0.5);
    }
  }
}

.eventArea {
  margin-top: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: blue;
  border-radius: 8px;
}

.eventResults {
  width: 150px;
  text-align: center;

  p {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px 1rem;
  }
}

.text-green {
  background: green;
  color: white;
  padding: 10px 1rem;
  border-radius: 6px;
  width: 250px;
}

.text-violet {
  background: rgb(222, 6, 222);
  color: white;
  padding: 10px 1rem;
  border-radius: 6px;
  width: 250px;
}
